root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,ts,json,vue,php}]
charset = utf-8
indent_style = space
indent_size = 2

[/node_modules/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
